<div class="filter columns small-12 space-200-bottom">
	<div class="filter-bar row fill-white radius-50 space-75-top-bottom space-75-left-right">
		<!-- <div class="columns large-3 inline-middle">
			<div class="h6 text-neutral-2">Browse By</div>
		</div> -->
		<div class="columns large-9 text-right inline-middle">
			<div class="row">
				<div class="inline-middle space-50-left">
					<div class="small strong text-neutral-2">PROJECTS</div>
					<div class="dropdown">
						<select class="text-black" name="project">
							<option value="Dasta Concerto">Dasta Concerto</option>
							<option value="ABC">ABC</option>
							<option value="XYZ">XYZ</option>
						</select>
					</div>
				</div>
				<div class="inline-middle space-50-left">
					<div class="small strong text-neutral-2">CATEGORY</div>
					<div class="dropdown">
						<select class="text-black" name="project">
							<option value="Dasta Concerto">Residential</option>
							<option value="ABC">Industrial</option>
							<option value="XYZ">Apartmental</option>
						</select>
					</div>
				</div>
				<div class="inline-middle space-50-left">
					<div class="small strong text-neutral-2">YEAR</div>
					<div class="dropdown">
						<select class="text-black" name="project">
							<option value="Dasta Concerto">2018</option>
							<option value="ABC">2019</option>
							<option value="XYZ">2020</option>
							<option value="ABC">2021</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
