


		<!-- Copyright Section -->
		<style>
			.copyright-section { text-align: center; }
			@media( min-width: 1040px ) {
				.copyright-section { text-align: left; }
				.copyright-section .signature { text-align: left; }
			}
		</style>
		<section class="copyright-section space-50-top-bottom fill-violet-dark-gradient" id="copyright-section">
			<div class="container">
				<div class="row">
					<div class="columns small-12 large-8 space-25">
						<div class="p font-h">Copyright <span class="h6 inline-middle">&copy;</span> 2024 – Greyscale Design Studio LLP | All Rights Reserved</div>
					</div>
					<div class="signature columns small-12 large-4 space-25">
						<a href="https://windsorsouza.com?utm_source=client+website" target="_blank" class="p block font-h">Handcrafted with <span class="h6 inline-middle" style="color: darkorange;">&heartsuit;</span> at — <span style="color: darkorange;">WindsorSouza.com</span></a>
					</div>
				</div>
			</div>
		</section>
		<!-- END: Copyright Section -->




