<!-- Header Section -->
<section id="header-section" class="header-section fill-white box-shadow-violet position-relative" style="z-index: 2;">
	<div class="container">
		<div class="row">
			<div class="columns small-11 medium-5 large-4 inline-middle">
				<a class="logo block space-100-top-bottom space-50-right" href="/">
					<img class="block no-pointer" src="/media/logo-color.svg" alt="Greyscale Logo">
				</a>
			</div>
			<div class="menu columns small-12 medium-7 large-8 inline-middle text-right hide-small text-violet">
				<a class="link label text-uppercase strong inline" href="/">Stories</a>
				<a class="link label text-uppercase strong inline" href="/about">About</a>
				<a class="link label text-uppercase strong inline" href="/for-homeowner">Homeowner</a>
				<a class="link label text-uppercase strong inline" href="/for-business">Business</a>
				<a class="link label text-uppercase strong inline" href="/for-student">Student</a>
			</div>
		</div>
	</div>
</section>
<!-- END: Header Section -->



<!-- Menu Section -->
{% comment %} <section id="menu-section" class="menu-section position-relative hidden" style="box-shadow: 0 0 0 1px var(--neutral-2), 0 0 5px 1px var(--neutral-3); z-index: 9;">
	<div class="container">
		<div class="row space-75-top-bottom">
			<div class="logo columns small-8 medium-5 large-3 inline-middle" style="font-size: 0;">
				<a class="inline-block" href="/">
					<img class="block" src="media/logo-combination-eng.png" width="" height="">
				</a>
			</div>
			<div class="logo columns small-4 medium-7 large-9 text-right inline-middle hide-small">
				<a href="tel:+919740711696" class="text-blue h2 strong">+91-97407-11696</a>
			</div>
		</div>
	</div>
</section> {% endcomment %}
<!-- END: Menu Section -->